<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/icon.svg">
		<title>Henry Noyes</title>
		<style>{% include "css/index.css" %}</style>
	</head>
	<body>
		<main>
			{{ content | safe }}
		</main>
	</body>
	<footer>
		© 2025 Henry Noyes&nbsp;|&nbsp;<a href="https://github.com/henrynoyes/me-dot-info">source code</a>
	</footer>
</html>